<table>
  <tr>
    <th>Name</th>
    <th>Straße</th>
    <th>Postcode</th>
    <th>Stadt</th>
    <th>Telefonnummer</th>
    <th>Skill Set</th>
  </tr>
  <tr *ngFor="let e of employees$ | async">
    <td>{{e.lastName}}, {{e.firstName}}</td>
    <td>{{e.street}}</td>
    <td>{{e.postcode}}</td>
    <td>{{e.city}}</td>
    <td>{{e.phone}}</td>
    <td>
      <p *ngFor="let q of e.skillSet">
        {{q.skill}}
      </p>
    </td>
    <td>
      <button>Bearbeiten</button>
    </td>
  </tr>
</table>
