.employee-table {
  margin-left: auto;
  margin-right: auto;
}

div {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 1em;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th, td {
  padding: 1em;
  font-size: 1.2em;
}

.our-button {
  padding: 1em;
  margin: 1em;
}

.create-button {
  padding: 1em;
}

.button-1 {
  font-size: 20px;
  background-color: #88f;
  color: #ffffff;
  padding: 10px 20px;
  border: #000 2px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.button-1:hover {
  background-color: rgba(136, 136, 255, 0.7); /* Leicht transparentes Rot bei Hover */
}

.button-2 {
  font-size: 20px;
  background-color: forestgreen;
  color: #ffffff;
  padding: 10px 20px;
  border: #000 2px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button-2:hover {
  background-color: rgba(34, 139, 34, 0.7);
}
