<div class="detailedView">
  <h2>Person bearbeiten</h2>
  <form [formGroup]="employeeForm">
    <table>
      <tr>
        <th>Eigenschaft</th>
        <th>Wert</th>
      </tr>
      <tr>
        <td>Nachname</td>
        <td><input type="text" formControlName="lastName"></td>
      </tr>
      <tr>
        <td>Vorname</td>
        <td><input type="text" formControlName="firstName"></td>
      </tr>
      <tr>
        <td>Straße</td>
        <td><input type="text" formControlName="street"></td>
      </tr>
      <tr>
        <td>Postcode</td>
        <td><input type="text" formControlName="postcode"></td>
      </tr>
      <tr>
        <td>Stadt</td>
        <td><input type="text" formControlName="city"></td>
      </tr>
      <tr>
        <td>Telefon</td>
        <td><input type="text" formControlName="phone"></td>
      </tr>
    </table>
    <button class="our-button" (click)="updateEmployee()">Update</button>
    <button class="our-button" (click)="deleteEmployee()">Delete</button>
  </form>
</div>

<div class="popupBackground">
  <div class="popup">
    <p>Bist du dir sicher, dass du den Mitarbeiter löschen willst?</p>
    <button>Löschen</button>
    <button>Abbrechen</button>
  </div>
</div>
