/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: Bahnschrift, Calibri, sans-serif;
}

app-employee-list {

}

.button-neutral, .button-deny, .button-affirm {
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
  padding: 10px 20px;
  border: #000 2px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 1em;
}

.button-neutral {
  background-color: #88f;
  color: #ffffff;
}

.button-neutral:hover {
  background-color: rgba(136, 136, 255, 0.7);
}

.button-deny {
  background-color: red;
  color: #ffffff;
}

.button-deny:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.button-affirm {
  background-color: forestgreen;
  color: #ffffff;
}

.button-affirm:hover {
  background-color: rgba(34, 139, 34, 0.7);
}


